package templates
import (
	// "fmt"
    // "time"
    // "strconv"
	"goth/internal/store"
)

templ GetQuestion(subjectsLis []string, idk store.SubjectQuestions) {


    for _, course := range subjectsLis {
        <p> {course}</p>

        <br>
    }

    <div class="question">
    
    </div>
    
}

