package templates
import (
	// "fmt"
    // "time"
    // "strconv"
	"goth/internal/store"
	// "fmt"
)

templ GetQuestion(subjectsLis []string, idk store.SubjectQuestions) {


    for _, course := range subjectsLis {
        <p> {course}</p>

        <br>
    }

    for i, q := range idk.MultipleChoice { 

        // <p> {q.Question}</p>
        // <p> { fmt.Sprintf("",i})</p>
        @GetCloseQuestion(i, "kop_arhitekturi", q)
    }
    <div class="question">
    
    </div>
    
}

